<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Customer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        form{
            background-color: darksalmon;
            width: 400px;
            border-radius: 10px;
            margin-top: 50px;
        }
        body{
            background-color: aqua;
        }
    </style>
</head>
<body>
<center>
<form method="POST" style="border: 2px solid red">
<h2 class="text-center text-primary bg-warning">Update Customer Form</h2>
    {% csrf_token %}
    {{ form.as_p}}
    <input type="submit" value="Update" class="btn btn-success">
</form>
</center>
<center><button class="btn btn-info"><a class="text-white" href="{% url 'home' %}">Back To Page</a></button></center>
</body>
</html>